/* CSS Document */

.dados {
	width: 400px;
	margin: 20px auto;
}
.tabela-usuario .control-label {
	width: 50px;
}

.tabela-usuario .controls {
  margin-left: 60px;
}

#tabela-usuario .btn {
	margin-right: 4px;
}

